$stanford-red-000: #faf5f5;
$stanford-red-100: #e50808;
$stanford-red-200: #b1040e;
$stanford-red-300: #820000;

$stanford-blue-000: #6fc3ff;
$stanford-blue-200: #006cb8;
$stanford-blue-300: #00548f;

$stanford-green-000: #1aecba;
$stanford-green-200: #008566;
$stanford-green-300: #006f54;
